################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.tlog
/x64/Debug
/x64/Release
/Gel.vcxproj
/Gel.vcxproj.filters
/Gel.vcxproj.user
